PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=nexus_med
DB_PORT=3306
RAZORPAY_KEY_ID=rzp_test_NexusMed12345
RAZORPAY_KEY_SECRET=NexusMedSecretKey67890
RAZORPAY_WEBHOOK_SECRET=NexusMedWebhookSecret99999
SESSION_SECRET=nexus_med_super_secret_session_key
